build_artifacts/*
build_output/*

.fake/**/*

**/*.suo
**/**/*.suo
**/*.user
**/**/*.user

bin
obj
_ReSharper*
*.dotCover

*.csproj.user
*.resharper.user
*.ReSharper.user
*.cache
*~
*.swp
*.bak
*.orig
*.user

NuGet.exe
packages

TestResult.xml
submit.xml
src/tests/*
tests/*
doc/*
SolutionVersion.cs
AppPackages/
