build_artifacts/*
build_output/*

**/*.suo
**/**/*.suo
**/*.user
**/*.sln*
bin
obj
_ReSharper*

*.csproj.user
*.resharper.user
*.ReSharper.user
*.cache
*~
*.swp
*.bak
*.orig

TestResult.xml
submit.xml
src/tests/*
tests/*
doc/*
SolutionVersion.cs
