build_artifacts/*
build_output/*

**/*.suo
**/**/*.suo
**/*.user
**/**/*.user

.idea

bin
obj
_ReSharper*
*.dotCover

*.csproj.user
*.resharper.user
*.ReSharper.user
*.cache
*~
*.swp
*.bak
*.orig
*.user

packages

TestResult.xml
submit.xml
src/.vs
src/.idea

doc/*
SolutionVersion.cs
AppPackages/
.DS_Store
*.DS_Store

/node_modules

# Cake
tools/**
!tools/packages.config

# Artifacts
artifacts/**
/.vs
